.contributor {

    &__item {
        display: block;
        text-align: center;
        border: 1px solid $grey;
        padding: $baseline * 3 $baseline;
        border-radius: 4px;
        transition: border-color 0.35s ease;

        &:hover {
            border-color: $primary;
            text-decoration: none;
        }
    }

    &__image {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }

    &__name {
        color: $font-color;
        margin-top: $baseline;
        word-break: break-all;
    }
}