.loader {
    margin-top: $baseline * 5;
    display: flex;
    align-items: center;
    justify-content: center;

    &__spinner {
        border: 2px solid $white;
        border-radius: 50%;
        border-top: 2px solid $primary;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 0.7s linear infinite; /* Safari */
        animation: spin 0.7s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }
}
