.main-container {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    width: calc(100% - $sidebar-width);
    color: $font-color;
    margin-left: $sidebar-width;
    padding: $baseline * 8 $baseline * 4;
    position: relative;

    &__sidebar {
        position: relative;
    }
}