.repo-stat {
    text-align: center;

    &__count {
        font-size: $baseline * 8;
    }

    &__label {
        font-size: $baseline * 2.5;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}