.repo {
    &__list {
        padding-left: 0;
        list-style: none;
    }

    &__wrap-item {
        display: flex;
        align-items: center;
    }

    &__item {
        flex: 1;
        background-color: $white;
        margin: $baseline 0 $baseline $baseline * 2;
        padding: $baseline * 2;
        border: 1px solid $grey;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.35s ease;

        &:hover {
            border-color: $primary;
        }

    }

    &__name {
        text-transform: uppercase;
        font-size: $baseline * 2;
        letter-spacing: 2px;
        word-break: break-all;
    }

    &__icon {
        width: $baseline * 3;
        height: $baseline * 3;
        margin-right: $baseline
    }

    &__watchers {
        display: flex;
        align-items: center;
        font-size: $baseline * 2;
        letter-spacing: 1px;
    }
}