.sidebar {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $light-grey;
    color: $font-color;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
    top: 0;
    left: 0;
    padding: 0 $baseline * 4;

    &__search {
        margin: $baseline * 4 0;
    }

    &__repos {
        flex: 1;
    }

    &__watchers {
        display: flex;
        align-items: center;
    }
}