@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
.main-container {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  width: calc(100% - $sidebar-width);
  color: #252525;
  margin-left: 320px;
  padding: 48px 24px;
  position: relative; }
  .main-container__sidebar {
    position: relative; }

.sidebar {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f0f0f0;
  color: #252525;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  top: 0;
  left: 0;
  padding: 0 24px; }
  .sidebar__search {
    margin: 24px 0; }
  .sidebar__repos {
    flex: 1; }
  .sidebar__watchers {
    display: flex;
    align-items: center; }

.repo__list {
  padding-left: 0;
  list-style: none; }

.repo__wrap-item {
  display: flex;
  align-items: center; }

.repo__item {
  flex: 1;
  background-color: #FFF;
  margin: 6px 0 6px 12px;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.35s ease; }
  .repo__item:hover {
    border-color: #007bff; }

.repo__name {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  word-break: break-all; }

.repo__icon {
  width: 18px;
  height: 18px;
  margin-right: 6px; }

.repo__watchers {
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px; }

.repo-stat {
  text-align: center; }
  .repo-stat__count {
    font-size: 48px; }
  .repo-stat__label {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px; }

.contributor__item {
  display: block;
  text-align: center;
  border: 1px solid #ced4da;
  padding: 18px 6px;
  border-radius: 4px;
  transition: border-color 0.35s ease; }
  .contributor__item:hover {
    border-color: #007bff;
    text-decoration: none; }

.contributor__image {
  width: 60px;
  height: 60px;
  border-radius: 100%; }

.contributor__name {
  color: #252525;
  margin-top: 6px;
  word-break: break-all; }

.loader {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Safari */ }
  .loader__spinner {
    border: 2px solid #FFF;
    border-radius: 50%;
    border-top: 2px solid #007bff;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.7s linear infinite;
    /* Safari */
    animation: spin 0.7s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
